.accordion {
  max-width: 320px;
  font-family: 'Space Mono', monospace;
  color: #3E474F;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border: 3px solid #3E474F;
  transition: background 0.1s;
}

.accordion__label:hover {
  background: #3E474F;
  color: #FFFFFF;
}

.accordion__label:hover > .cross {
  background-image: url('./images/white-plus.svg');
}

.cross {
  width: 18px;
  height: 18px;
  background-image: url('./images/black-plus.svg');
  background-size: 100%;
}